# Prerequisites
*.d

# vim Swap file
*.swp
*.swo

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
a.out
*.exe
*.out
*.app
creatingThreads
queueTests
usingConditionVar
usingMutex
passingRefToThreads
usingAtomic
usingCondVar
promiseAndFuture1
promiseAndFuture2
usingAsync
packaged_task
threadPoolTest


